[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
# Try to always ensure this service is running. It's how we health check other services remotely.
Restart=always

# Start the service, bound to localhost. It will be exposed by another service, such as NGINX or stunnel.
ExecStart="{{ deb_node_exp_dir }}node_exporter" \
    --collector.textfile.directory="{{ node_exporter_textfile_directory }}" \
    -web.listen-address="0.0.0.0:9100" 

[Install]

# Boot it after the network is up and running
WantedBy=network-online.target
